<a href="https://colab.research.google.com/github/purosh96/ML/blob/main/NaiveBayes_Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import files 
upload = files.upload()

Saving LEAD.csv to LEAD.csv

In [2]:
import pandas as pd
data = pd.read_csv("LEAD.csv")

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20742 entries, 0 to 20741
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   OWN_HOUSE        20742 non-null  int64
 1   OWN_CAR          20742 non-null  int64
 2   HOUSE_LOAN       20742 non-null  int64
 3   CAR_LOAN         20742 non-null  int64
 4   SMOKER           20742 non-null  int64
 5   HEART_DISEASE    20742 non-null  int64
 6   DIABETES         20742 non-null  int64
 7   MARITAL_STATUS   20742 non-null  int64
 8   CHILDREN         20742 non-null  int64
 9   OTHER_INSURANCE  20742 non-null  int64
 10  PURCHASE         20742 non-null  int64
dtypes: int64(11)
memory usage: 1.7 MB

In [4]:
data.describe()

          OWN_HOUSE       OWN_CAR  ...  OTHER_INSURANCE      PURCHASE
count  20742.000000  20742.000000  ...     20742.000000  20742.000000
mean       0.336033      0.166715  ...         0.280494      0.085768
std        0.472362      0.372730  ...         0.449251      0.280028
min        0.000000      0.000000  ...         0.000000      0.000000
25%        0.000000      0.000000  ...         0.000000      0.000000
50%        0.000000      0.000000  ...         0.000000      0.000000
75%        1.000000      0.000000  ...         1.000000      0.000000
max        1.000000      1.000000  ...         1.000000      1.000000

[8 rows x 11 columns]

In [5]:
data.PURCHASE.value_counts()

0    18963
1     1779
Name: PURCHASE, dtype: int64

In [6]:
data.PURCHASE.value_counts(normalize=True)

0    0.914232
1    0.085768
Name: PURCHASE, dtype: float64

In [9]:
data.isnull().sum()

OWN_HOUSE          0
OWN_CAR            0
HOUSE_LOAN         0
CAR_LOAN           0
SMOKER             0
HEART_DISEASE      0
DIABETES           0
MARITAL_STATUS     0
CHILDREN           0
OTHER_INSURANCE    0
PURCHASE           0
dtype: int64

In [15]:
X = data.drop(columns=["PURCHASE"])
y = data[["PURCHASE"]]
X.shape,y.shape

((20742, 10), (20742, 1))

In [20]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.25, stratify = y)
#stratify = y because this keeps the ratio of Y/N, used when y imbalance

In [22]:
from sklearn.naive_bayes import BernoulliNB
nb = BernoulliNB()
nb.fit(X_train,y_train)
y_pred = nb.predict(X_test)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [26]:
from sklearn.metrics import accuracy_score,f1_score,confusion_matrix,roc_curve,auc

In [33]:
cm = confusion_matrix(y_test,y_pred)
cm

array([[4476,  265],
       [ 323,  122]])

In [41]:
TN = cm[0,0]
FP = cm[0,1]
FN = cm[1,0]
TP = cm[1,1]
T = y_test.shape[0]
AS = (TN+TP)/T
print("accuracy score : ",AS)

accuracy score :  0.8866178172001543

In [42]:
accuracy_score(y_test,y_pred)

0.8866178172001543

In [43]:
#TPR
R = TP/(TP+FN) 
print("recall or TPR : ",R)

recall :  0.27415730337078653

In [44]:
Specificity = TN/(TN+FP)
print("Specificity : ",Specificity)

Specificity :  0.9441046192786332

In [46]:
FPR = FP/ (FP + TN)
print("FPR : ",FPR)

FPR :  0.0558953807213668

In [47]:
p = TP/(TP + FP)
print("Precision : ",p)

Precision :  0.3152454780361757

In [48]:
FS = 2*R*p/(p+R)
FS

0.2932692307692308

In [49]:
f1_score(y_test,y_pred)

0.2932692307692308